<article class="flex justify-between">
    <section class="flex items-center">
      <span>
        <img
          src="assets/icon-ethereum.svg"
          alt="etherum-icon"
          class="pr-2"
        >
      </span>
      <span class="text-Cyan">
        0.041 ETH
      </span>
    </section>
    <section class="flex items-center">
      <span>
        <img
          src="assets/icon-clock.svg"
          alt="icon-clock"
        >
      </span>
      <span class="text-blue pl-2.5">
        3 days left
      </span>
    </section>
</article>

