<div class="bg-Dark-blue-cardBG mx-auto rounded-2xl flex justify-center items-center">
  <div class="max-w-[320px] p-6">
    <header>
      <picture class="relative flex justify-center items-center overflow-hidden">
        <img
          src="assets/image-equilibrium.jpg"
          alt="image-card"
          class="w-80 rounded-md"
        >
        <div class="absolute h-full w-full bg-Cyan-opacity opacity-0 rounded-md flex justify-center items-center hover:opacity-100 hover:cursor-pointer transition-opacity duration-200 ease-in">
          <img
            src="assets/icon-view.svg"
            alt="eye-icon"
          >
        </div>
      </picture>
    </header>
    <main class=" sm:max-w-xs md:max-w-xs">
      <section>
        <nft-title-card></nft-title-card>
        <nft-paragraph-card></nft-paragraph-card>
        <nft-money-card></nft-money-card>
      </section>
      <hr class="my-4 border-Dark-blue-line">
      <footer>
        <shared-footer></shared-footer>
      </footer>
    </main>
  </div>
</div>